.social-login
  hr
  button.social-login__github
    span
      i.fab.fa-github
    |Github 로그인
  button.social-login__facebook
    span
      i.fab.fa-facebook
    |Facebook 로그인
  button.social-login__gmail
    span
      i.fab.fa-google
    |Gmail 로그인