@import '../mixin';
//검색 icon
#search__click {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

// OK
@include mobile {
  .header {
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2f80ed, #56ccf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-bottom: 50px;
    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      .header__column {
        //home
        i {
          color: white;
          font-size: 40px;
          margin-left: 15px;
        }
        //검색 부분
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
        }
        // 메뉴 목록 부분
        &:nth-child(3) {
          justify-self: end;
        }
        ul {
          display: flex;
          a {
            font-weight: 600;
            color: white;
          }
          li {
            margin-right: 15px;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 8px;
            font-size: 14px;
            color: black;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
// OK
@include tablet {
  .header {
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2f80ed, #56ccf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-bottom: 50px;

    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: 30% 40% 30%;
      align-items: center;
      .header__column {
        //home
        i {
          color: white;
          font-size: 40px;
          margin-left: 15px;
        }
        //검색 부분
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
        }
        // 메뉴 목록 부분
        &:nth-child(3) {
          justify-self: end;
        }
        ul {
          display: flex;
          a {
            font-weight: 600;
            color: white;
          }
          li {
            margin-right: 15px;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 8px;
            font-size: 14px;
            color: black;
            max-width: 1400px;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
// OK
@include desktop {
  .header {
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2f80ed, #56ccf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-bottom: 50px;

    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: 30% 40% 30%;
      align-items: center;
      .header__column {
        //home
        i {
          color: white;
          font-size: 40px;
          margin-left: 15px;
        }
        //검색 부분
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
        }
        // 메뉴 목록 부분
        &:nth-child(3) {
          justify-self: end;
        }
        ul {
          display: flex;
          a {
            font-weight: 600;
            color: white;
          }
          li {
            margin-right: 15px;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 8px;
            font-size: 14px;
            color: black;
            max-width: 1400px;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
//화면 width가  758px 줄어들었을때 검색버튼 클릭시 적용할 css
@include search {
  .header {
    .header__wrapper-search {
      padding: 5px 0px;
      width: 100%;
      .header__column {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: white;
          font-size: 30px;
          padding: 5px 0px;
          padding-right: 15px;
        }
        form {
          width: 70%;
          display: flex;
          align-items: center;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 8px;
            font-size: 14px;
            color: black;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
        a {
          display: block;
        }
      }
    }
  }
}

#ul-list {
  display: flex;
  align-items: center;
  i {
    color: white;
    font-size: 25px;
    margin-left: 0px;
  }
}
//창이 클 경우 생성된 검색버튼 숨기도록
.ul-list {
  li {
    &:nth-child(1) {
      display: none;
    }
  }
}
//width 758px 보다 작을 경우 검색창 숨기고 icon으로 검색 버튼 생성하도록
.header__column-noshow {
  display: none;
}
