@import '../mixin';

// OK
@include mobile {
  .header {
    background-color: $red;
    margin-bottom: 50px;

    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      .header__column {
        //home
        i {
          color: white;
          font-size: 40px;
          margin-left: 15px;
        }
        //검색 부분
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
        }
        // 메뉴 목록 부분
        &:nth-child(3) {
          justify-self: end;
        }
        ul {
          display: flex;
          a {
            font-weight: 600;
            color: white;
          }
          li {
            margin-right: 15px;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 3px;
            font-size: 14px;
            color: black;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
// OK
@include tablet {
  .header {
    background-color: $red;
    margin-bottom: 50px;

    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      .header__column {
        //home
        i {
          color: white;
          font-size: 40px;
          margin-left: 15px;
        }
        //검색 부분
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
        }
        // 메뉴 목록 부분
        &:nth-child(3) {
          justify-self: end;
        }
        ul {
          display: flex;
          a {
            font-weight: 600;
            color: white;
          }
          li {
            margin-right: 15px;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 3px;
            font-size: 14px;
            color: black;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
// OK
@include desktop {
  .header {
    background-color: $red;
    margin-bottom: 50px;

    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      .header__column {
        //home
        i {
          color: white;
          font-size: 40px;
          margin-left: 15px;
        }
        //검색 부분
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
        }
        // 메뉴 목록 부분
        &:nth-child(3) {
          justify-self: end;
        }
        ul {
          display: flex;
          a {
            font-weight: 600;
            color: white;
          }
          li {
            margin-right: 15px;
          }
        }
        form {
          width: 100%;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 3px;
            font-size: 14px;
            color: black;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}
//화면 width가  758px 줄어들었을때 검색버튼 클릭시 적용할 css
@include search {
  .header {
    .header__wrapper-search {
      padding: 5px 0px;
      width: 100%;
      .header__column {
        display: flex;
        justify-content: center;
        form {
          width: 75%;
          input {
            padding: 7px 15px;
            width: 100%;
            border-radius: 3px;
            font-size: 14px;
            color: black;
            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }
}

#ul-list {
  display: flex;
  align-items: center;
  i {
    color: white;
    font-size: 25px;
    margin-left: 0px;
  }
}

//width 1024px 보다 작을 경우 검색창 숨기고 icon으로 검색 버튼 생성하도록
.header__column-noshow {
  display: none;
}

//창이 클 경우 생성된 검색버튼 숨기도록
.ul-list {
  li {
    &:nth-child(1) {
      display: none;
    }
  }
}
