.messageBlock {
  position: relative;
  width: 100%;
  background-color: #2ecc71;
  z-index: 10;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: messageScroll 3s ease-in-out;
  color: rgba(255, 255, 255, 0);
  .messageBlock__text {
    font-size: 14px;
    font-weight: 400;
  }

  @keyframes messageScroll {
    0% {
      background-color: white;
      height: 0px;
    }
    15% {
      height: 30px;
      color: white;
      background-color: #2ecc71;
    }
    85% {
      height: 30px;
      color: white;
      background-color: #2ecc71;
    }
    100% {
      height: 0px;
      background-color: white;
    }
  }
}
