.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    margin-top: 50px;
    width: 100%;
    max-width: 850px;
    button {
      width: 100px;
      margin-bottom: 15px;
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 28px;
      font-weight: 400;
    }
    .video__views {
      font-size: 13px;
    }
    .video__description {
      font-size: 15px;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
  }
  .video__comments {
    margin-top: 25px;
    margin-bottom: 25px;
    .video__comment-number {
      font-size: 18px;
    }
  }
  .comments-submit {
    margin-bottom: 30px;
  }
  .video__comments-box {
    width: 100%;
    display: flex;
    justify-content: left;
    .u-avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-left: 15px;
    }
    .video__comments-enter {
      margin-left: 10px;
      width: 100%;
      height: 100%;
      form {
        // comments에서 댓글 입력하는 부분
        .video__comments-input {
          width: 98%;
          max-width: 2000px;
          border-bottom: 1px solid lightgray;
          padding-left: 0;
          padding-top: 8px;
          padding-bottom: 8px;
        }
        // comments 입력 부분에서 input 공통된 css
        input {
          background-color: #f5f5f5;
          border-radius: 0;
          font-weight: 400;
        }
        // comments 취소, 전송버튼
        .video__comments-submit {
          width: 98%;
          display: flex;
          justify-content: flex-end;
          margin-top: 2px;
          // comments 전송 버튼
          input:last-child {
            background-color: gray;
            color: white;
          }
          input {
            width: 100%;
            max-width: 70px;
            height: 35px;
            font-weight: 300;
          }
        }
      }
    }
    // 댓글 보여지는 부분
    .video__comments-list {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: 2000px;
      .video__comments-main {
        display: flex;
        margin-bottom: 25px;
        position: relative;
        height: 55px;
        .video__comments-img {
          display: flex;
        }
        .video__comments-content {
          display: flex;
          flex-direction: column;
          margin-left: 15px;
          span:first-child {
            margin-bottom: 10px;
            font-weight: 600;
          }
        }
        .video__comments-menu {
          position: absolute;
          display: none;
          top: 5px;
          right: 25px;
          color: gray;
          font-size: 15px;
          cursor: pointer;
          border: 0px;
          background-color: rgba(255, 255, 255, 0);
        }
        &:hover {
          .video__comments-menu,
          .video__comments-menu-list {
            display: block;
          }
        }
        .video__comments-menu-list {
          // display: none;
          position: absolute;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          border-radius: 5px;
          top: 27px;
          right: 10px;
          width: 70px;
          display: none;
          flex-direction: column;
          justify-content: center;
          font-size: 13px;
          li {
            padding: 3px 0px;
            line-height: 26px;
            display: flex;
            justify-content: center;
            &:hover {
              background-color: lightgray;
            }
            button {
              color: gray;
              border: 0px;
              background-color: rgba(255, 255, 255, 0);
              width: 100%;
              &:active {
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
}
